body {
  background-color: #eee;
  -webkit-transition: color 1s ease, background-color 1s ease;
  transition: color 1s ease, background-color 1s ease;
  ​
}
body.dark,
body.dark nav,
body.dark ul,
body.dark nav ul a, nav {
  background-color: #202123 !important;
  color: #fff !important;
}
body.dark a {
  color: #fff;
  background-color: #202123 !important;
  opacity: 0.65;
}
body.dark nav {
  background-color: #26A69A;
}
body.dark .card {
  background-color: rgba(255, 255, 255, 0.2);
}
body.dark .btn {
  background-color: #EE6F73;
}
body.dark .divider {
  opacity: 0.2;
}
body.dark .sidenav {
  background-color: #2D2D31;
}
body.dark .sidenav li a:not(.subheader) {
  color: #89B2F5;
}
body.dark .sidenav li a:not(.subheader):hover {
  background-color: #3B4043;
}
body.dark .sidenav li a.subheader {
  color: #9AA0A6;
}
body.dark .sidenav li a .material-icons {
  color: #9AA0A6;
}
body.dark .collection {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .collection .collection-item {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
