
#logo-container:before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-image: url('/documentations/img/logo_dark.png')  !important;
}
#logo-container .responsive-img {
  display: none;
}

body {
  background-color: #eee;
}
body.dark,
body.dark nav,
body.dark ul,
body.dark nav ul a, nav {
  background-color: #202123 !important;
  color: #ebebeb !important;
}
body.dark a {
  color: #ebebeb;
  background-color: #202123 !important;
  opacity: 0.65;
}
body.dark a:hover {
  opacity: 1;
}
body.dark a:focus {
  text-decoration: none;
}
body.dark nav {
  background-color: #26A69A;
}
#logo-container {
  opacity: 1;
}
body.dark i {
  color: #ebebeb !important;
}

body.dark .user-view input {
  color: #ebebeb !important;
}

body.dark .collapsible-header:focus {
 background-color: #292a2b !important;
}

body.dark .card {
  background-color: rgba(255, 255, 255, 0.2);
}
body.dark .btn {
  background-color: #EE6F73;
}
body.dark .divider {
  opacity: 0.2;
}
body.dark .sidenav {
  background-color: #2D2D31;
}
body.dark .sidenav li a:not(.subheader) {
  color: #ebebeb;
  opacity: 0.65;
}
body.dark .sidenav li a:not(.subheader):hover {
  opacity: 1;
  background-color: #27292a !important;
}
body.dark .sidenav li a.subheader,
.top-nav i {
  color: #9AA0A6;
}
body.dark .sidenav li a .material-icons {
  color: #9AA0A6;
}
body.dark .collection {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
body.dark .collection .collection-item {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
