.navbar-fixed {
  z-index: 1000;
}
#slide-out {
  top: 65px;
  height: calc(100% - 65px);
}
#slide-out .user-view {
  padding-top: 0;
}

#slide-out .select-wrapper .select-dropdown {
  border-bottom: 1px solid rgb(149, 193, 43);
}
.dropdown-content li:not(.disabled) > span {
  color: rgb(149, 193, 43) !important;
}

body nav ul a, body nav {
  color: #444 !important;
  background-color: #fff !important;
}

html,
body,
.sidenav,
#div_summary {
  scrollbar-color: rgba(120,120,120,0.5) transparent !important;
  scrollbar-width: thin;
}
.sidenav {
  width: 280px !important;
}

#ul_menu li,
.sidenav li i {
  line-height: 32px !important;
}
#ul_menu li a,
.sidenav li i {
  height: 32px !important;
  line-height: 32px !important;
}

.sidenav-trigger{
  color:black !important;
}

h1 {
  font-size : 2.5rem !important;
}
h2 {
  font-size : 2rem !important;
}
h3 {
  font-size : 1.5rem !important;
}
h1,h2,h3,h4,h5 {
  color : #95C12B !important;
}

.jeedomcolorbg {
  background-color: #95C12B !important;
}
.jeedomcolor {
  color: #95C12B !important;
}
.collection a.collection-item {
  color: #85a835 !important;
}

/*For doc content and toc */

.tocAnchor.active{
  font-weight: bold;
  border-left: 2px solid #95C12B;
}
.tocAnchor{
  color:black;
  padding-left: 14px;
}
#div_content ul {
  list-style-type: initial !important;
}
#div_content ul li {
  list-style-type: initial !important;
  margin-left : 20px !important;
}
#div_content {
  text-align: justify;
  padding-left : 200px !important;
}
@media only screen and (max-width : 992px) {
  #div_content {
    padding-left : 10px !important;
  }
}

@media print {
  .hide-on-print {
    height: 0px !important;
    visibility: hidden  !important;
  }
  .show-on-print {
    display:block !important;
  }
  #div_content {
    padding-left : 0px !important;
  }
}

.cookieAcceptBar {
  display:none;
  position: fixed;
  bottom: -50px;
  left:0;
  right: 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  z-index: 99999;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cookieAcceptBar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#cookieAcceptBarConfirm {
  cursor: pointer;
  border: none;
  background-color: #2387c0;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

#ul_menu li.menu_active{
  background-color: #95C12B;
}

#ul_menu{
  white-space:nowrap;
}

pre{
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, post millennium */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.gsc-control-cse {
  background: transparent !important;
  border: none !important;
}
