<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/fonts/roboto/roboto.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/dark.css">
  <link rel="stylesheet" href="/css/syntax-github.css">
  <link rel="stylesheet" href="/css/syntax-github-dark.css">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/font-awesome5/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/lightbox.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta id="meta-lang" http-equiv="Content-Language" content="fr-FR">
  <link rel="icon" href="/favicon.ico" />
</head>
<body>
  <div class="navbar-fixed hide-on-print">
    <nav>
      <div class="nav-wrapper container">
        <a href="#" data-target="slide-out" class="top-nav sidenav-trigger waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a>
        <a id="logo-container" href="https://jeedom.github.io/documentations" class="brand-logo center"><img src="/img/logo.png" style="height:50px;margin-top:5px"></a>
        <ul id="navTopLeft" class="left hide-on-med-and-down" style="position:fixed;left:0px;width:280px;">
          <li><a href="https://jeedom.github.io/documentations">Jeedom Documentation</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.jeedom.com" target="_blank">Site</a></li>
          <li><a href="https://blog.jeedom.com" target="_blank">Blog</a></li>
          <li><a href="https://community.jeedom.com" target="_blank">Community</a></li>
          <li><a href="https://market.jeedom.com" target="_blank">Market</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container hide-on-print">
    <div id="slide-out" class="sidenav sidenav-fixed">
      <div class="user-view">
        <div class="input-field col s12">
          <select id="sel_theme" style="color:white !important;">
            <option value="light" selected>Light</option>
            <option value="dark">Dark</option>
          </select>
          <label>Theme</label>
        </div>
        <div class="input-field col s12">
          <select id="sel_lang" style="color:white !important;">
            <option value="fr_FR" selected>Français</option>
            <option value="en_US">English</option>
            <option value="es_ES">Spanish</option>
            <option value="de_DE">Deutsch</option>
          </select>
          <label>Langue</label>
        </div>
        <div class="input-field col s12">
          <select id="sel_jeedomVersion" style="color:white !important;">
            <option value="3.3">Core 3.3</option>
            <option value="4.0">Core 4.0 (legacy)</option>
            <option value="4.1">Core 4.1</option>
            <option value="4.2" selected>Core 4.2</option>
            <option value="4.3" selected>Core 4.3</option>
            <option value="4.4" selected>Core 4.4 (Alpha)</option>
          </select>
          <label>Version</label>
        </div>
      </div>
      <ul class="collapsible" id="ul_menu"></ul>
    </div>
  </div>
  <div class="row" id="div_main">
    <div id="div_content" class="col s12 m8 offset-m1 xl9 offset-xl1">{{content}}</div>
    <div class="col hide-on-small-only m3 xl2">
      <div id="div_summary" style="overflow:auto;height:100%"></div>
    </div>
  </div>
</div>
<div id="cookieAcceptBar" class="cookieAcceptBar">
  Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. Si vous continuez à utiliser ce site, nous supposerons que vous en êtes satisfait.<br> <button id="cookieAcceptBarConfirm" class="btn btn-success">Ok</button>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/select.js"></script> <!-- ios13 fix -->
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/lightbox.js"></script>
</body>
</html>
