<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/{{site.github.project_title}}/css/style.css">
  <link rel="stylesheet" href="/{{site.github.project_title}}/css/dark.css">
  <link rel="stylesheet" href="/{{site.github.project_title}}/css/materialize.min.css">
  <link rel="stylesheet" href="/{{site.github.project_title}}/css/font-awesome5/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Language" content="fr-FR">

  <!-- Matomo -->
  <script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.jeedom.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</head>
<body>
  <div class="navbar-fixed hide-on-print">
    <nav>
      <div class="nav-wrapper container">
        <a href="#" data-target="slide-out" class="top-nav sidenav-trigger waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a>
        <a id="logo-container" href="https://jeedom.github.io/documentations" class="brand-logo center"><img src="/{{site.github.project_title}}/img/logo.png" style="height:50px;margin-top:5px"></a>
        <ul class="left hide-on-med-and-down" style="margin-left: 70px;">
          <li><a href="https://jeedom.github.io/documentations">Jeedom Documentation</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.jeedom.com/site">Site</a></li>
          <li><a href="https://www.jeedom.com/blog">Blog</a></li>
          <li><a href="https://community.jeedom.com">Community</a></li>
          <li><a href="https://market.jeedom.com">Market</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container hide-on-print">
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><div class="user-view">
        <div class="input-field col s12">
          <select id="sel_theme" style="color:white !important;">
            <option value="" disabled selected>Light</option>
            <option value="light">Light</option>
            <option value="dark">Dark</option>
          </select>
          <label>Theme</label>
        </div>
        <div class="input-field col s12">
          <select id="sel_lang" style="color:white !important;">
            <option value="" disabled selected>Français</option>
            <option value="fr_FR">Français</option>
            <option value="en_US">English</option>
            <option value="es_ES">Spanish</option>
            <option value="de_DE">Deutch</option>
          </select>
          <label>Langue</label>
        </div>
      </div></li>
      <ul class="collapsible" id="ul_menu"></ul>
    </ul>
  </div>
  <div class="row" id="div_main">
    <div id="div_content" class="col s12 m8 offset-m1 xl7 offset-xl1">{{content}}</div>
    <div class="col hide-on-small-only m3 xl3 offset-xl1">
      <div id="div_summary" ></div>
    </div>
  </div>
</div>
<div id="cookieAcceptBar" class="cookieAcceptBar">
  Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. Si vous continuez à utiliser ce site, nous supposerons que vous en êtes satisfait.<br> <button id="cookieAcceptBarConfirm" class="btn btn-success">Ok</button>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/{{site.github.project_title}}/js/materialize.min.js"></script>
<script type="text/javascript" src="/{{site.github.project_title}}/js/init.js"></script>
</body>
</html>
