<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/{{site.github.project_title}}/css/style.css">
  <link rel="stylesheet" href="/{{site.github.project_title}}/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Language" content="pt-br">
</head>
<body>
  <div class="navbar-fixed hide-on-print">
    <nav>
      <div class="nav-wrapper container">
        <a id="logo-container" href="https://www.jeedom.com/doc" class="brand-logo center"><img src="/{{site.github.project_title}}/assets/images/logo.png" style="height:50px;margin-top:5px"></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="https://www.jeedom.com/doc">Jeedom Documentation</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://www.jeedom.com/site">Site</a></li>
          <li><a href="https://www.jeedom.com/blog">Blog</a></li>
          <li><a href="https://community.jeedom.com">Community</a></li>
          <li><a href="https://www.jeedom.com/market">Market</a></li>
          <li class="active"><a href="https://www.jeedom.com/doc">Doc</a></li>
        </ul>
      </div>
    </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><div class="user-view">
        <div class="background">
          <img src="../../img/background1.jpg">
        </div>
        <div class="input-field col s12">
          <select style="color:white !important;">
            <option value="" disabled selected>Français</option>
            <option value="fr_fr">Français</option>
            <option value="en_US">English</option>
            <option value="es_ES">Spanish</option>
          </select>
          <label style="color:black !important;">Langue</label>
        </div>
      </div></li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Introduction</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Présentation</a></li>
              <li><a href="#!">Installation</a></li>
              <li><a href="#!">Start Jeedom Smart</a></li>
              <li><a href="#!">Start Jeedom Pro</a></li>
              <li><a href="#!">Premiers-pas</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Services</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Backup cloud</a></li>
              <li><a href="#!">Assistant vocaux</a></li>
              <li><a href="#!">Monitoring</a></li>
              <li><a href="#!">Accès distant</a></li>
            </ul>
          </div>
        </li>
        <li><div class="divider"></div></li>
        <li><strong style="margin-left:5px;">Jeedom v3.3</strong></li>
        <li>
          <div class="collapsible-header">Manuel d'utilisation</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Dashboard</a></li>
              <li><a href="#!">Vues</a></li>
              <li><a href="#!">Design</a></li>
              <li><a href="#!">Design 3D</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Manuel de configuration</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Administration</a></li>
              <li><a href="#!">Sauvegarde</a></li>
              <li><a href="#!">Mise à jour</a></li>
            </ul>
          </div>
        </li>
        <li><strong style="margin-left:5px;">Jeedom v4.0</strong></li>
        <li>
          <div class="collapsible-header">Manuel d'utilisation</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Dashboard</a></li>
              <li><a href="#!">Vues</a></li>
              <li><a href="#!">Design</a></li>
              <li><a href="#!">Design 3D</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Manuel de configuration</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Administration</a></li>
              <li><a href="#!">Sauvegarde</a></li>
              <li><a href="#!">Mise à jour</a></li>
            </ul>
          </div>
        </li>
        <li><strong style="margin-left:5px;">Jeedom v4.1</strong></li>
        <li>
          <div class="collapsible-header">Manuel d'utilisation</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Dashboard</a></li>
              <li><a href="#!">Vues</a></li>
              <li><a href="#!">Design</a></li>
              <li><a href="#!">Design 3D</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Manuel de configuration</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Administration</a></li>
              <li><a href="#!">Sauvegarde</a></li>
              <li><a href="#!">Mise à jour</a></li>
            </ul>
          </div>
        </li>
        <li><div class="divider"></div></li>
        <li>
          <div class="collapsible-header">Plugins</div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!"><i class="fas fa-lock"></i>Sécurité</a></li>
              <li><a href="#!"><i class="fas fa-rss"></i>Protocole domotique</a></li>
              <li><a href="#!"><i class="fas fa-asterisk"></i>Passerelle domotique</a></li>
              <li><a href="#!"><i class="fas fa-code"></i>Programmation</a></li>
              <li><a href="#!"><i class="fas fa-calendar-alt"></i>Organisation</a></li>
              <li><a href="#!"><i class="fas fa-sun"></i>Météo</a></li>
              <li><a href="#!"><i class="fas fa-comment"></i>Communication</a></li>
              <li><a href="#!"><i class="fas fa-language"></i>Objets connectés</a></li>
              <li><a href="#!"><i class="fas fa-sliders-h"></i>Multimédia</a></li>
              <li><a href="#!"><i class="fas fa-user"></i>Confort</a></li>
              <li><a href="#!"><i class="fas fa-tachometer-alt"></i>Monitoring</a></li>
              <li><a href="#!"><i class="fas fa-heartbeat"></i>Santé</a></li>
              <li><a href="#!"><i class="fab fa-pagelines"></i>Nature</a></li>
              <li><a href="#!"><i class="fas fa-magic"></i>Automatisme</a></li>
              <li><a href="#!"><i class="fas fa-bolt"></i>Energie</a></li>
              <li><a href="#!"><i class="fas fa-bars"></i>Autre</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <li><a href="#!">Assitance et bug</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
  <div class="row" id="div_main">
    <div id="div_content" class="col s12 m8 offset-m1 xl7 offset-xl1">{{content}}</div>
    <div class="col hide-on-small-only m3 xl3 offset-xl1">
      <div id="div_summary" ></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/{{site.github.project_title}}/assets/js/materialize.min.js"></script>
<script type="text/javascript">
$(function(){
  $('.sidenav').sidenav();
  $('.parallax').parallax();
  $('.dropdown-trigger').dropdown();
  $('.collapsible').collapsible();
  $('select').formSelect();
  $('#div_summary').empty().append('<ul></ul>');
  var i=0;
  $('#div_content h1,h2').each(function(){
    $(this).attr('id','tocAnchor-'+i)
    if($(this).is('h1')){
      $('#div_summary ul').append('<li><a href="#tocAnchor-'+i+'" class="tocAnchor">'+$(this).text()+'</a></li>')
    }
    if($(this).is('h2')){
      $('#div_summary ul').append('<li><a href="#tocAnchor-'+i+'" class="tocAnchor">'+$(this).text()+'</a></li>')
    }
    $(this).addClass('scrollspy');
    i++;
  });
  $('.scrollspy').scrollSpy();
  setTimeout(function() {
    $('#div_summary').pushpin({top:$('nav').height(),offset:$('nav').height()+10})
  }, 100);
});
</script>
</body>
</html>
